:root {
    /* ### Primary */

    --Light-red-CTA-text: #ff525d;
    --Very-light-red-CTA-hover-background: #ff7a85;
    --Very-dark-blue-headings: hsl(208, 49%, 24%);

    /* ### Neutral */

    --White-text: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    min-height: 70vh;
    background-image: url("../images/bg-pattern-intro-desktop.svg");
    background-color: var(--Very-light-red-CTA-hover-background);
    border-radius: 0 0 0 50px;
    background-position: 10px;
    background-size: 150%;
}

.logo {
    width: 100px;
}

.menu {
    display: flex;
    justify-content: space-between;
    height: 70px;
    margin-bottom: 100px;
    align-items: center;
    padding: 40px;
}

.lista {
    width: 100%;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    text-align: center;
    color: white;
}

.lista>li {
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    height: 100%;
    width: 100px;

}

.lista li ul {
    list-style: none;
    text-align: left;
    padding: 10px 0 10px 25px;
    font-size: 14px;
    display: none;
    /* position: absolute; */
    position: fixed;
    color: black;
    width: 110px;
    background-color: white;
}

.lista li:hover ul {
    display: block;
    background-color: white;
}

.lista li ul li:hover {
    font-weight: bold;
}

.btns-menu {
    display: flex
}

.btn {
    height: 40px;
    width: 80px;
    border-radius: 15px;
    background-color: transparent;
    border-style: none;
    color: white;
}

.btn-sign {
    background-color: white;
    color: var(--Light-red-CTA-text);
}

.btn:hover {
    /* border: solid white 1px; */
    background-color: rgb(245, 146, 146);
    cursor: pointer;
    color: white;
}

.header-mensaje {
    width: 600px;
    height: auto;
    border: solid 1px black;
    text-align: center;
    margin: auto;
}

.header-mensaje>.p1 {
    color: white;
    font-size: 3rem;
}

.header-mensaje>.p2 {
    color: white;
    font-size: 1rem;
    margin-top: 10px;
}

.btns-header {
    margin-top: 30px;
}

.btn-header {
    height: 40px;
    width: 100px;
    border-radius: 15px;
    background-color: transparent;
    border-style: none;
    cursor: pointer;
}

.btn-start {
    background-color: white;
    color: var(--Light-red-CTA-text);
    margin-right: 20px;
}

.btn-learn {
    border: solid 1px white;
    color: white;
}

.articulo1 {
    text-align: center;
    margin-bottom: 200px;
    padding-left: 10%;
    /* position: relative; */
    width: 100%;
    height: 400px;
}

.articulo1-contenedor {
    display: flex;
    /* flex-direction: column; */
    height: 100%;
    margin-top: 50px;
}

.titulo {
    font-size: 30px;
    color: var(--Very-dark-blue-headings);
    text-align: center;
    margin-top: 100px;
}

.articulo1-texto {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    gap: 50px;
    font-size: 18px;
    color: var(--Very-dark-grayish-blue-body-copy);
}

.articulo1-texto p>b {
    font-size: 24px;
    color: var(--Very-dark-blue-headings);
}

.articulo1-img {
    width: 45%;
    transform: translate(40%, -110px);
    height: 500px;
}

.articulo2 {
    width: 100%;
    height: 300px;
    background-color: var(--Very-dark-blue-headings);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    border-radius: 0 70px 0 70px;
    margin-bottom: 100px;
}

.articulo2-contenedor-imgs {
    width: 300px;
    height: 100%;
    position: relative;
}

.articulo2-img-background {
    width: 600px;
    height: 500px;
    position: absolute;
    z-index: 0;
    transform: translate(-350px, -200px);
}

.articulo2-img {
    width: 100%;
    height: 300px;
    position: inherit;
    z-index: 3;
}

.articulo2-texto {
    width: 600px;
    text-align: justify;
    font-size: 18px;
    color: var(--White-text);
}

.articulo2-texto p>b {
    font-size: 24px;
}

.articulo3 {
    margin-top: 200px;
    margin-bottom: 100px;
    padding-right: 10%;
    width: 100%;
    height: 400px;
}

.articulo3-contenedor {
    display: flex;
    height: 100%;
}

.articulo3-texto {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 50%;
    gap: 50px;
    font-size: 18px;
    color: var(--Very-dark-grayish-blue-body-copy);
}

.articulo3-img {
    width: 45%;
    transform: translate(-28%, -110px);
    height: 500px;
}

.articulo3-texto p>b {
    font-size: 24px;
    color: var(--Very-dark-blue-headings);
}

.footer {
    background-color: var(--Very-dark-black-blue-footer-background);
    color: var(--White-text);
    height: 200px;
    width: 100%;
    border-radius: 0 50px 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-footer {
    width: 100px;
    height: 50px;
}

.footer-lista {
    display: flex;
    list-style: none;
    width: 70%;
    justify-content: space-around;
    gap: 50px;
}

.footer-lista>li {
    font-weight: 900;
}

.footer-lista li>ul {
    margin-top: 10px;
}

.footer-lista li>ul li {
    list-style: none;
    font-weight: 300;
}

.footer-lista li ul li:hover {
    color: red;
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .menu {
        flex-direction: column;
    }

    .lista {
        flex-direction: column;
    }

    .btns-menu {
        flex-direction: column;
    }

    .header-mensaje{
        width: auto;
    }

    .articulo1 {
        margin: auto 0 100px 0;
        padding-left: 1rem;
        min-height: 400px;
        overflow: hidden;
    }

    .articulo1-texto{
        text-align: justify;
    }

    .articulo1-img {
        width: 50%;
        transform: translateX(20%);
        height: 500px;
    }

    .articulo2-texto {
        width: 50%;
        text-align: justify;
        padding-right: 1rem;
    }

    .articulo3 {
        padding-right: 1rem;
        margin-bottom: 100px;
        min-height: 500px;
        padding-right: 10px;
    }
    
    
    .articulo3-img {
        width: 60%;
        transform: translateX(-25%);
        height: 500px;
    }
    
    .articulo3-texto{
        width: 50%;
    }
}